@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #d9d9d9;

  /* Definim variabilele pentru culorile tale custom */
  --color-primary: #ff0000;
  --color-secondary: #9a9a9c;
  --color-thirdcolor: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Înregistrăm culorile în Tailwind v4 */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-thirdcolor: var(--color-thirdcolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to left, #000000 0%, #050505 100%);
    --foreground: #d9d9d9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Stiluri de bază pentru etichete (Folosind dimensiunile tale în rem) */
h1 {
  font-size: 3.5rem; /* Am mărit la 3.5rem conform discuției anterioare */
  font-weight: 1000;
  @media (max-width: 768px) {
    font-size: 2rem; /* Diminuăm la 1.2rem pentru ecrane mici */
  }
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 1.4rem; /* Diminuăm la 1.2rem pentru ecrane mici */
  }
}
